# Tuplas

In [7]:
# Criando uma tupl
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [8]:
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [2]:
# Tuplas nao suportam append()

tupla1.append("chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
del tupla1["Geografia"]

TypeError: 'tuple' object does not support item deletion

In [14]:
tupla1 = ["Chocolate"]

In [15]:
tupla1

['Chocolate']

In [16]:
del tupla1

In [18]:
t2 = ("A", "B", "C", "D", "E")

In [ ]:
# Convertendo tupla para lista
lista_t2 = list(t2)

In [20]:
lista_t2

['A', 'B', 'C', 'D', 'E']

In [21]:
type(t2)

tuple

In [22]:
type(lista_t2)

list

In [23]:
lista_t2.append("B")

In [24]:
lista_t2

['A', 'B', 'C', 'D', 'E', 'B']

In [25]:
# usando a função tuple() para converter uma lista para tupla

t2 = tuple(lista_t2)

In [26]:
t2

('A', 'B', 'C', 'D', 'E', 'B')